


body{
    font-family: 'Work Sans', sans-serif;
    background-image: url('blob-haikei\ -\ Copy.svg');
    letter-spacing: .2rem;
    line-height: 32px;
    height:100%;
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    font-size: 20px;
    color:#00203F;
    text-shadow: 2px 2px 5px grey;
    
}

h2{
    color:#ADEFD1;
}

p{
    color:#ADEFD1;
    font-size:12px;;
}

#logounder{
    display:grid;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-top:20px;
}


#logo{
height:150px;

}


#wrapper{
    display:flex;
    flex-direction: column;
}


#nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:none;
    padding: none;
    
}

#nav2{
    display:flex;
}

#contentstuff{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    
}

 mestuff img{
    margin:40px;
    rotate: 2deg;
}

#footer{
    display:flex;
    align-items: center;
    justify-content: center; 
    background-color: #00203F;
    position: relative;
    height: 70px;
    margin-top: 350px;
}

#writing button{
width: 100px;
height:40px;
background-repeat: no-repeat;
background-position: center;
background-color: #ADEFD1;
border-radius: 5px;
border: none;
box-shadow: inset 0 0 4px #ADEFD1;
cursor:pointer;
font-family: 'Work Sans', sans-serif;
color:#00203F;
box-shadow: 1px 1px 10px 1px black;
}

#writing button:hover{
color:#ADEFD1;
background-color: #00203F;
    
    }


#mestuff:hover{
    rotate: 4deg;
}

#nav button{
    background-color: #00203F;
    color:#ADEFD1;
    height:80px;
    width: 160px;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 1px grey;
    border: none;
}

#nav button:hover{
    background-color: #ADEFD1;
    color:#00203F;
    cursor:pointer;

}

#here{
    color: #ADEFD1;
    align-items: center;
    justify-content: center;
    position: relative;

    left:20px;
}


#linkedin{
    height: 30px;
}

#youtube{
    height: 80px;
}